h1, h2, p {
	font-family: Arial;
}

#total {
	color: red;
}

#price {
	font-style: bold;
}

h2 {
	display: inline-block;
}

.left, #middle {
	width: 45%;
	float: center;
	font-family: cursive;
	font-size: 18pt;
}

#top {
	border-bottom: 2px double black;
}

ul {
	list-style-type: none;
	display: inline-block;
}