* {
	font-family: Comic;
	font-size: 130%;
}

#image {
	position: fixed;
	opacity: 0.1;
	width: 500;
	margin: auto;
}

li.eats {
	font-family: cursive;
}



li.bucks {
	color: #797979;
}

/* food side of the list */
#snazzy {

}

/*price side of the list */
#evenSnazzier {

}